<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Gaugio Gazino Poker Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to Gaugio Gazino Poker Tracker</h2>
        <form action="/" method="POST">
            <label for="name">Please enter your name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
