<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Gaugio's Gazino Poker Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Welcome to Gaugio's Gazino Poker Tracker</h2>
    <p class="welcome-message">Hello and welcome to Gaugio's Gazino Poker Tracker!</p>
    <div class="button-group">
        <a href="{{ url_for('login') }}" class="btn">Login</a>
        <a href="{{ url_for('register') }}" class="btn">Register</a>
    </div>
  </div>
    </div>
</body>
</html>
